*{
    /*Basically font, "*" mean sa css is universal mean lahat ng ilalagay mo rito is ma apply sa lahat*/
    font-family:sans-serif;
    font-style: italic;
}
p{
    /* "p" means paragraph lahat ng ilalagay mo rito is for paragraph only*/
    line-height: 12px;/*ito ung nagbibigay ng gap sa text*/
    background:url(bbb.png) no-repeat;
    max-width:100%;
    height:1000px;
    -webkit-background-clip: text; /*ito ung dahilan kaya muka image ung text*/
    -webkit-text-fill-color: rgba(0, 0, 0, 0); /*text color*/
    /*webkit is rendering engine*/
}
body{
    /*for body only! */
    display: flex; /*nag seset ng elements inner and outer*/
    background-color: black; /*bg color*/
    height: 50vh; /* vh for viewport height*/
}

/*Jef*/
